/* Sidebar base */
.sidebar {
  position: fixed;
  right: -200px; /* hidden initially */
  top: 0;
  width: 200px;
  height: 100%;
  background: #1e1e2f;
  color: #fff;
  transition: right 0.3s ease;
  padding-top: 20px;
  z-index: 1000;
}

/* Active sidebar */
.sidebar.active {
  right: 0;
}

/* Search box */
/* .search-box {
  padding: 10px;
}
.search-box input {
  width: 90%;
  padding: 8px;
  border: none;
  border-radius: 5px;
} */

/* Sidebar links */
.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar ul li {
  padding: 15px;
}
.sidebar ul li a {
  color: #ddd;
  font-size: 18px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background 0.3s;
}
.sidebar ul li a:hover,
.sidebar ul li a.active {
  background: #333;
  color: #fff;
  border-radius: 5px;
}

/* Toggle button */
#toggle-btn {
  position: fixed;
  top: 15px;
  right: 15px;
  font-size: 22px;
  background: #1e1e2f;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 999;
}

.top-actions{
    display:flex;
    gap:15px;
    align-items:center;
    margin-left: 15px;
}

.top-actions img{
    border-radius:50%;
}