.video-page {
  max-width: 1000px;
  margin: 40px auto;
  text-align: center;
  color: #e5e7eb;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}