<header>
  <nav class="nav">

    <div class="logo">
      <a href="/index.html">&lt; / &gt; LearnX</a>
    </div>

    <ul class="nav-links">
      <li><a href="/index.html">Home</a></li>
      <li><a href="/courses.html">Courses</a></li>
      <li><a href="/tutorials.html">Tutorials</a></li>
      <li><a href="/blog.html">Blog</a></li>
      <li><a href="/contact.html">Contact</a></li>
    </ul>

    <div class="nav-right">
      <input type="text" placeholder="Search..." />
      <button class="login-btn"><a href="/login.html">Login</a></button>
      <button class="signup-btn"><a href="/register.html">Signup</a></button>
      <button class="theme-btn">🌙</button>
      <!-- <button class="theme-btn">☼</button> -->
      <!-- <button class="theme-btn">◐</button> -->
    </div>


    <div class="hamburger">&#9776;</div>

  </nav>
</header>
