<!-- NAVBAR -->
      <nav class="navbar">
        <h2 class="logo">&lt; / &gt; LearnX</h2>

        <ul class="menu">
          <li  class="active"><a class="menu-links" href="/pages/dash-home.html"><i class="fa fa-home"></i> Dashboard</a></li>
          <li ><a class="menu-links" href="/pages/my-courses.html"><i class="fa fa-book"></i> My Courses</a></li>
          <li ><a class="menu-links" href="/pages/assignment.html"><i class="fa fa-tasks"></i> Assignments</a></li>
          <li ><a class="menu-links" href="/pages/certificates.html"><i class="fa fa-award"></i> Certificates</a></li>
          <li ><a class="menu-links" href="/pages/profile.html"><i class="fa fa-user"></i> Profile</a></li>
        </ul>

        <div class="hamburger">&#9776;</div>
      </nav>